<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>connexionController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProjetsController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ProjetsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtudiantController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.EtudiantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SauvegardeProjetController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.SauvegardeProjetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProjetsController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.GestionProjetsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationProjetController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ModificationProjetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionUtilisateursController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.GestionUtilisateursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationUtilisateurController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ModificationUtilisateurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultatsRechercheController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ResultatsRechercheController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetEtudiantsController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ProjetEtudiantsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesseurController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ProfesseurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesDeCoursController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.NotesDeCoursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationNotesCoursController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.CreationNotesCoursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.NotesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationNotesController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ModificationNotesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.ConnexionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationNotesController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.CreationNotesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProfesseurController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.GestionProfesseurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesDeCoursEtudiantController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.NotesDeCoursEtudiantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionController</servlet-name>
        <servlet-class>com.portailDepartementInformatiqueAnayeesFrancisPatrickOthmane.controller.DeconnexionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjetsController</servlet-name>
        <url-pattern>/ProjetsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtudiantController</servlet-name>
        <url-pattern>/EtudiantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SauvegardeProjetController</servlet-name>
        <url-pattern>/sauvegardeProjetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProjetsController</servlet-name>
        <url-pattern>/gestionProjetsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationProjetController</servlet-name>
        <url-pattern>/modificationProjetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionUtilisateursController</servlet-name>
        <url-pattern>/gestionUtilisateursController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationUtilisateurController</servlet-name>
        <url-pattern>/modificationUtilisateurController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultatsRechercheController</servlet-name>
        <url-pattern>/resultatsRechercheController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetEtudiantsController</servlet-name>
        <url-pattern>/ProjetEtudiantsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesseurController</servlet-name>
        <url-pattern>/professeurController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesDeCoursController</servlet-name>
        <url-pattern>/notesDeCoursController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationNotesCoursController</servlet-name>
        <url-pattern>/creationNotesCoursController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesController</servlet-name>
        <url-pattern>/notesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationNotesController</servlet-name>
        <url-pattern>/modificationNotesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionController</servlet-name>
        <url-pattern>/connexionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationNotesController</servlet-name>
        <url-pattern>/creationNotesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProfesseurController</servlet-name>
        <url-pattern>/gestionProfesseurController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesDeCoursEtudiantController</servlet-name>
        <url-pattern>/notesDeCoursEtudiantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionController</servlet-name>
        <url-pattern>/deconnexionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
