<div th:fragment="enteteInscription">
    <header class="border-0">
        <div class="container d-flex justify-content-center">
            <div class="entete-logo">
                <div class="d-flex justify-content-between">
                    <img class="logo-college-agrandi py-3" th:src="@{'/images/logo-rosemont.png'}" alt="Logo du Collège de Rosemont"/>
                    <div class="mt-4">
                        <h1 class="titre-agrandi">Ed.<br>volution</h1>
                        <p class="sous-titre-agrandi" th:text="#{label.sous_titre}"></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>