@CHARSET "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif, sans-serif, cursive, fantasy, monospace, Times New Roman,Times, serif;
}
body {
    background: linear-gradient(90.29deg, #3B4394 0%, rgba(177, 43, 99, 0.92) 59.9%, rgba(235, 31, 75, 0.96) 100%);
}

/* Classes pour le titre Ed.volution et son sous-titre sur la page index ----------- */
.titre {
    color: #fff;
    font-weight: 700;
}

.sous-titre {
    color: #fff;
}

/* --------- En-tête de page ----------- */
header {
    background: linear-gradient(90.29deg, #3B4394 0%, rgba(177, 43, 99, 0.92) 59.9%, rgba(235, 31, 75, 0.96) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
}

header .titre {
    font-size: 1rem;
}

header .sous-titre {
    font-size: 0.75rem;
    bottom: 0;
}

header .titre-utilisateur {
    font-size: 1rem;
}

.navbar {
    background: rgba(255, 255, 255, 0.78);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    color: #1F2BAB;
    font-weight: 600;
}

.navbar input[type="search"],
select.form-control {
    width: 400px;
    background: linear-gradient(90.24deg, rgba(59, 67, 148, 0.4) 0%, rgba(141, 50, 114, 0.4) 57.81%, rgba(235, 31, 75, 0.44) 100%);
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* --------- Section principale (Main) ----------- */
main {
    margin-top: 12rem;
    background: rgba(255, 255, 255, 0.78);
}

/* --------- Pied de page ----------- */
footer {
    background: radial-gradient(100% 34973.86% at 0% 0%, rgba(59, 67, 148, 0.8) 0%, rgba(177, 43, 99, 0.44) 76.56%, rgba(235, 31, 75, 0.85) 98.44%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* --------- Classe pour la boîte de login ----------- */
.boite-login {
    width: 634px;
    height: 602px;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 22px;
}

/* --------- Changement de style pour les champs input pour devenir une ligne ----------- */
input[type="text"], input[type="password"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus, input[type="password"]:focus,
select.form-control:focus {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

